.xsession-errors*
Downloads/
Pictures/
Projects/
*.tgz
.zsh_history
.bash_history
.cache/
.dotfiles/
.histfiles
.icons/
.local/
.mozilla/

# config
.config/Thunar/
.config/alacritty/
.config/dconf/
.config/flameshot/
.config/gpicview/
.config/gtk-3.0/
.config/i3.default/
.config/i3/config.23062020
.config/i3/config.WIP
.config/i3/config.default
.config/i3status-rust/
.config/mimeapps.list
.config/pavucontrol.ini
.config/pulse/
.config/rofi/
.config/sakura/
.config/xfce4/
